<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="7d98f348-9702-4e95-8960-97dceeaa3fab" Publisher="CN=arsingh" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TumbleMe.Windows</DisplayName>
    <PublisherDisplayName>arsingh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TumbleMe.Windows.App">
      <m2:VisualElements DisplayName="Build 2014" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Build 2014 Photo Blog" ForegroundText="light" BackgroundColor="#00bcf2">
        <m2:DefaultTile ShortName="Build2014" Square70x70Logo="Assets\Square70x70Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#00bcf2" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget">
          <ShareTarget m2:Description="Build 2014 Photo Blog">
            <SupportedFileTypes>
              <FileType>.jpg</FileType>
              <FileType>.png</FileType>
              <FileType>.jpeg</FileType>
            </SupportedFileTypes>
            <DataFormat>StorageItems</DataFormat>
          </ShareTarget>
        </Extension>
        <Extension Category="windows.protocol">
          <Protocol Name="com.aruntalkstech.tumbleme" />
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>